@font-face {
  font-family: tahoma;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/tahoma/regular.ttf');
}

@font-face {
  font-family: tahoma;
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/tahoma/bold.ttf');
}
@font-face {
  font-family: tahoma;
  font-style: normal;
  font-weight: bolder;
  src: url('../assets/fonts/tahoma/dark.ttf');
}
